@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
.navbar {
    height: 50px;
    background: #003580;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 500;
}

.navButton {
    margin-left: 20px;
    padding: 5px 10px;
    border: none;
    color: #003580;
    cursor: pointer;
}